.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 6.5em;
  width: 100%;
  background: linear-gradient(
    360deg,
    rgba(116, 172, 218, 1) 0%,
    rgba(37, 80, 154, 1) 50%,
    rgba(116, 172, 218, 1) 100%
  );
}

.tab:hover {
  opacity: 0.9;
}
.roundedRight {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.roundedLeft {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}
