@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #27519b;
  --color-secondary: #74acda;
  --color-text-main: #efb333;
  --color-text-secondary: #25509a;
  --color-gray: #6d6e70;
  --color-gray-light: #8e8e8e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 19px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #74acda;
  border: 7px solid white;
}
.custom-scrollbar::-webkit-scrollbar-button:single-button:decrement {
  height: 20px;
  background: url("/images/up-arrow.svg") no-repeat center;
  background-size: 22px 13px;
}
.custom-scrollbar::-webkit-scrollbar-button:single-button:increment {
  height: 20px;
  background: url("/images/down-arrow.svg") no-repeat center;
  background-size: 22px 13px;
}
