@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #25509a;
  --color-secondary: #74acda;
  --color-text-main: #efb333;
  --color-text-secondary: #25509a;
  --color-gray: #6d6e70;
  --color-gray-light: #8e8e8e;
  --color-gray-bg: #d7d8d9;
  --color-black: #000000;
  --color-custom-green: #7fbb48;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 19px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #74acda;
  border: 7px solid white;
}
.custom-scrollbar::-webkit-scrollbar-button:single-button:decrement {
  height: 20px;
  background: url("/images/up-arrow.svg") no-repeat center;
  background-size: 22px 13px;
}
.custom-scrollbar::-webkit-scrollbar-button:single-button:increment {
  height: 20px;
  background: url("/images/down-arrow.svg") no-repeat center;
  background-size: 22px 13px;
}

.custom-map-marker {
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: white;
  padding: 5px 20px;
  background-color: #d9534f;
  font-size: 14px;
}

@media (min-height: 601px) and (max-height: 800px) {
  .title-column {
    font-size: 1.1em;
    margin-bottom: 0.2em;
  }
  .title-fields {
    font-size: 0.8em;
  }
  .arrows-btn {
    height: 45px;
    width: 45px;
  }
  .nav-logo {
    height: 65px;
  }
  .nav-title {
    font-size: 35px;
  }
  .nav-logo {
    height: 40px;
  }
  .home-img {
    height: 9em;
  }
}
